<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.mosaictherapy.daily-supervision-pull</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/davidjcox/Downloads/Mosaic/daily-supervision-pull/scripts_notebooks/prod/run_pipeline_wrapper.sh</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/davidjcox/Downloads/Mosaic/daily-supervision-pull</string>
    
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>7</integer>
        <key>Minute</key>
        <integer>30</integer>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/Users/davidjcox/Downloads/Mosaic/daily-supervision-pull/scripts_notebooks/prod/logs/launchd_stdout.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/davidjcox/Downloads/Mosaic/daily-supervision-pull/scripts_notebooks/prod/logs/launchd_stderr.log</string>
    
    <key>RunAtLoad</key>
    <false/>
    
    <key>KeepAlive</key>
    <false/>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/anaconda3/bin</string>
    </dict>
</dict>
</plist>

